.task {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	margin-bottom: 16px;
}

.task > div {
	display: flex;
    flex-direction: column;
    max-width: max-content;
    margin-right: auto	
}